---
import type { Project } from '~/types';
import { Icon } from 'astro-icon';
import { Picture } from '@astrojs/image/components';

import ProjectTags from '~/components/project/Tags.astro';
import SocialShare from '~/components/common/SocialShare.astro';

import { getPermalink } from '~/utils/permalinks';
import { getFormattedDate } from '~/utils/utils';

import ProjectRelease from '../widgets/ProjectRelease.astro';
import HowToInstall from '../widgets/HowToInstall.astro';
import YouTube from '../YouTube.astro';

export interface Props {
  project: Project;
  url: string | URL;
}

const { project, url } = Astro.props;
---

<section class="py-10 mx-auto">
  <article>
    <header class={project.image ? '' : ''}>
      <div class="flex justify-between flex-col sm:flex-row max-w-3xl mx-auto mt-0 mb-2 px-4 sm:px-6 sm:items-center">
        <p>
          <Icon name="tabler:clock" class="w-4 h-4 inline-block -mt-0.5 dark:text-gray-400" />
          <time datetime={String(project.publishDate)}>{getFormattedDate(project.publishDate)}</time>
          {
            project.category && (
              <>
                -
                <a class="capitalize hover:underline" href={getPermalink(project.category, 'category')}>
                  {project.category.replaceAll('-', ' ')}
                </a>
              </>
            )
          }
        </p>
      </div>
      <h1
        class="px-4 sm:px-6 max-w-3xl mx-auto text-4xl md:text-5xl font-bold leading-tighter tracking-tighter font-heading"
      >
        {project.title}
      </h1>
      <p
        class="max-w-3xl mx-auto mt-4 mb-4 px-4 sm:px-6 text-xl md:text-2xl text-muted dark:text-slate-400 text-justify"
      >
        {project.excerpt}
      </p>

      {
        project.github && (
          <p class="max-w-3xl mx-auto mt-4 mb-8 px-4 sm:px-6 text-l md:text-xl text-muted highlight-link text-justify">
            <a href={project.github}>
              <Icon name="tabler:brand-github" class="w-5 h-5 inline-block -mt-0.5 " />
              Check out the GitHub page for open issues or downlads
            </a>
          </p>
        )
      }

      {
        project.image ? (
          <Picture
            src={project.image}
            class="max-w-full lg:max-w-6xl mx-auto mb-6 sm:rounded-md bg-gray-400 dark:bg-slate-700"
            widths={[400, 900]}
            sizes="(max-width: 900px) 400px, 900px"
            alt={project.description || ''}
            loading="eager"
            aspectRatio={16 / 9}
            width={900}
            height={400}
            loading="eager"
            decoding="async"
            background={undefined}
          />
        ) : (
          <div class="max-w-3xl mx-auto px-4 sm:px-6">
            <hr class="border-primary border-t-8" />
          </div>
        )
      }

      {
        project.video && (
          <div class="max-w-xl mx-auto px-4 pt-6">
            <YouTube id={project.video} />
          </div>
        )
      }
    </header>
    <div
      class="shrink-page mx-auto px-6 sm:px-6 max-w-3xl prose prose-lg lg:prose-xl dark:prose-invert dark:prose-headings:text-slate-300 prose-md prose-headings:font-heading prose-headings:leading-tighter prose-headings:tracking-tighter prose-headings:font-bold prose-a:text-primary dark:prose-a:text-blue-400 prose-img:rounded-md prose-img:shadow-lg mt-8"
    >
      {project.Content ? <project.Content /> : <Fragment set:html={project.content} />}

      <hr style="margin-top: 2rem" class="border-primary border-t-8" />

      {
        project.projectDetails && (project.projectDetails.hasPrimary() || project.projectDetails.hasSecondary()) && (
          <>
            {project?.tags && <HowToInstall tags={project.tags} />}

            <hr style="margin-top: 2rem" class="border-primary border-t-8" />

            <h2 id="latest-version">Latest version</h2>
            <ProjectRelease projectDetails={project.projectDetails} boxClasses={'bg-slate-100 dark:bg-slate-800'} />

            {project.github && (
              <>
                <h2 id="older-versions">Older versions</h2>

                <a href={project.github}>
                  <Icon name="tabler:brand-github" class="w-5 h-5 inline-block -mt-0.5 " />
                  You can find older versions on the GitHub page
                </a>
              </>
            )}

            <hr style="margin-top: 2rem" class="border-primary border-t-8" />
          </>
        )
      }
    </div>

    <div class="mx-auto px-6 sm:px-6 max-w-3xl mt-8 flex justify-between flex-col sm:flex-row">
      <ProjectTags tags={project.tags} class="mr-5" />
      <SocialShare url={url} text={project.title} class="mt-5 sm:mt-1 align-middle text-gray-500 dark:text-slate-600" />
    </div>
  </article>
</section>
