---
import type { Version } from '~/types';
import TimeBadge from './TimeBadge.astro';
import CallToActionButton from './CallToActionButton.astro';

export interface Props {
  version: Version;
  classes?: string;
  boxClasses?: string;
}

const { version, classes, boxClasses } = Astro.props;
---

<section class={`relative ${classes}`}>
  <div class="max-w-6xl mx-auto px-4 sm:px-6">
    <div
      class={`max-w-3xl mx-auto text-center p-4 rounded-md shadow-xl ${boxClasses} dark:shadow-none dark:border dark:border-slate-600`}
    >
      <div class="flex justify-center items-center gap-4 pb-4">
        <h6 style="margin-bottom: 0" class="text-2xl">
          Release: {version.release}
        </h6>
        <span class="dark:text-slate-400">
          <TimeBadge date={version.releaseDate} />
        </span>
      </div>

      {
        // Automatic install
        (version?.vp13exe || version?.vp14exe) && (
          <div class="pb-4 flex flex-nowrap flex-col sm:flex-row gap-4 justify-center">
            {version?.vp13exe && (
              <CallToActionButton
                callToAction={{
                  text: 'for VEGAS Pro 13 and earlier',
                  href: version?.vp13exe,
                  tooltip: version?.vp13tooltip,
                  icon: 'tabler:download',
                  openOnNewTab: true,
                }}
                divClasses={'flex w-full sm:w-auto not-prose'}
                btnClasses={'sm:mb-0 w-full'}
                primary={true}
              />
            )}
            {version?.vp14exe && (
              <CallToActionButton
                callToAction={{
                  text: 'for VEGAS Pro 14 and later',
                  href: version?.vp14exe,
                  tooltip: version?.vp14tooltip,
                  icon: 'tabler:download',
                  openOnNewTab: true,
                }}
                divClasses={'flex w-full sm:w-auto not-prose'}
                btnClasses={'w-full'}
                primary={true}
              />
            )}
          </div>
        )
      }

      {
        // Manual install
        (version?.vp13zip || version?.vp14zip) && (
          <details open class="text-start px-2">
            <summary>Download for Manual install (.zip)</summary>
            <div class="pb-4 flex flex-nowrap flex-col sm:flex-row gap-4 justify-center">
              {version?.vp13zip && (
                <CallToActionButton
                  callToAction={{
                    text: 'for VEGAS Pro 13 and earlier',
                    href: version?.vp13zip,
                    tooltip: version?.vp13tooltip,
                    icon: 'tabler:download',
                    openOnNewTab: true,
                  }}
                  divClasses={'flex w-full sm:w-auto not-prose'}
                  btnClasses={'sm:mb-0 w-full'}
                />
              )}
              {version?.vp14zip && (
                <CallToActionButton
                  callToAction={{
                    text: 'for VEGAS Pro 14 and later',
                    href: version?.vp14zip,
                    tooltip: version?.vp14tooltip,
                    icon: 'tabler:download',
                    openOnNewTab: true,
                  }}
                  divClasses={'flex w-full sm:w-auto not-prose'}
                  btnClasses={'w-full'}
                />
              )}
            </div>
          </details>
        )
      }

      {
        // Changes
        version?.changes && version.changes.length > 0 && (
          <details open class="text-start px-2">
            <summary>Changes</summary>
            <ul class="not-prose" style="margin: 0">
              {version.changes.map((change: string[]) => (
                <li set:html={change} />
              ))}
            </ul>
          </details>
        )
      }
    </div>
  </div>
</section>
