---
import type { Version } from '~/types';
import TimeBadge from './TimeBadge.astro';
import DownloadButton from './DownloadButton.astro';

export interface Props {
  version: Version;
  classes?: string;
  boxClasses?: string;
}

const { version, classes, boxClasses } = Astro.props;
---

<section class={`relative ${classes}`}>
  <div class="max-w-6xl mx-auto px-4 sm:px-6">
    <div
      class={`max-w-3xl mx-auto text-center p-4 rounded-md shadow-xl ${boxClasses} dark:shadow-none dark:border dark:border-slate-600`}
    >
      <div class="flex justify-center items-center gap-4 pb-4">
        <h6 style="margin-bottom: 0" class="text-2xl">
          Release: {version.release}
        </h6>
        <span class="dark:text-slate-400">
          <TimeBadge date={version.releaseDate} />
        </span>
      </div>

      {
        // Automatic install
        (version?.vp13prim || version?.vp14prim || version?.singlePrim) && (
          <div class="pb-4 flex flex-nowrap flex-col sm:flex-row gap-4 justify-center">
            {version?.vp13prim && (
              <DownloadButton
                text="for VEGAS Pro 13 and earlier"
                href={version?.vp13prim}
                tooltip={version?.tooltipVP13}
                primary={true}
              />
            )}
            {version?.vp14prim && (
              <DownloadButton
                text="for VEGAS Pro 14 and later"
                href={version?.vp14prim}
                tooltip={version?.tooltipVP14}
                primary={true}
              />
            )}
            {version?.singlePrim && (
              <DownloadButton text="Download this version" href={version?.singlePrim} primary={true} />
            )}
          </div>
        )
      }

      {
        // Manual install
        (version?.vp13sec || version?.vp14sec || version?.singleSec) && (
          <details open class="text-start px-2">
            <summary>Download for Manual install (usually .zip)</summary>
            <div class="pb-4 flex flex-nowrap flex-col sm:flex-row gap-4 justify-center">
              {version?.vp13sec && (
                <DownloadButton
                  text="for VEGAS Pro 13 and earlier"
                  href={version?.vp13sec}
                  tooltip={version?.tooltipVP13}
                />
              )}
              {version?.vp14sec && (
                <DownloadButton
                  text="for VEGAS Pro 14 and later"
                  href={version?.vp14sec}
                  tooltip={version?.tooltipVP14}
                />
              )}
              {version?.singleSec && <DownloadButton text="Download this version" href={version?.singleSec} />}
            </div>
          </details>
        )
      }

      {
        // Changes
        version?.changes && version.changes.length > 0 && (
          <details open class="text-start px-2">
            <summary>Changes</summary>
            <ul style="margin: 0">
              {version.changes.map((change: string) => (
                <li set:html={change} />
              ))}
            </ul>
          </details>
        )
      }
    </div>
  </div>
</section>
