---
import { SITE, PROJECTS } from '~/config.mjs';

import Layout from '~/layouts/PageLayout.astro';
import ProjectList from '~/components/project/List.astro';
import Headline from '~/components/project/Headline.astro';
import Pagination from '~/components/project/Pagination.astro';
import SupportSection from '~/components/project/SupportSection.astro';

import { fetchProjects } from '~/utils/project';
import { PROJECTS_BASE } from '~/utils/permalinks';

export async function getStaticPaths({ paginate }: any) {
  if (PROJECTS?.disabled || PROJECTS?.list?.disabled) return [];
  return paginate(await fetchProjects(), {
    params: { projects: PROJECTS_BASE || undefined },
    pageSize: PROJECTS.itemPerPage,
  });
}

const { page } = Astro.props;
const currentPage = page.currentPage ?? 1;

const meta = {
  title: `Projects${currentPage > 1 ? ` - Page ${currentPage}` : ''}`,
  description: SITE.description,
  noindex: PROJECTS?.list?.noindex || currentPage > 1,
  ogType: 'projects',
};
---

<!-- Project list info -->
<Layout {meta}>
  <section class="px-6 sm:px-6 py-10 mx-auto max-w-4xl">
    <Headline subtitle="Public projects that I've worked on throughout the years.">Projects</Headline>
    <ProjectList projects={page.data} />
    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
    <SupportSection />
  </section>
</Layout>
