---
import { SITE, PROJECTS } from '~/config.mjs';

import Layout from '~/layouts/PageLayout.astro';
import ProjectList from '~/components/project/List.astro';
import Pagination from '~/components/project/Pagination.astro';

import { fetchProjects } from '~/utils/project';
import { TAG_BASE } from '~/utils/permalinks';
import Headline from '~/components/project/Headline.astro';

export async function getStaticPaths({ paginate }: any) {
  if (PROJECTS?.disabled || PROJECTS?.tag?.disabled) return [];

  const projects = await fetchProjects();
  const tags = new Set();
  projects.map((project) => {
    Array.isArray(project.tags) && project.tags.map((tag) => tags.add(tag.toLowerCase()));
  });

  return Array.from(tags).map((tag: string | any) =>
    paginate(
      projects.filter(
        (project) => Array.isArray(project.tags) && project.tags.find((elem) => elem.toLowerCase() === tag)
      ),
      {
        params: { tag: tag, projects: TAG_BASE || undefined },
        pageSize: PROJECTS.itemPerPage,
        props: { tag },
      }
    )
  );
}

const { page, tag } = Astro.props;

const currentPage = page.currentPage ?? 1;
const meta = {
  title: `Projectss by tag '${tag}'${currentPage > 1 ? ` — Page ${currentPage} ` : ''}`,
  description: SITE.description,
  noindex: PROJECTS?.tag?.noindex,
};
---

<Layout meta={meta}>
  <section class="px-6 sm:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-3xl">
    <Headline>Tag: {tag}</Headline>
    <ProjectList projects={page.data} />
    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
  </section>
</Layout>
